<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800525536623-1jn2e55lq1uu7v84sa8pefol9926lshf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800525536623-1jn2e55lq1uu7v84sa8pefol9926lshf</string>
	<key>API_KEY</key>
	<string>AIzaSyAuku-Q_2kOxnBLAUVp8jz-uWn5cB1Nbpc</string>
	<key>GCM_SENDER_ID</key>
	<string>800525536623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sachin.CopWatchNYC</string>
	<key>PROJECT_ID</key>
	<string>copwatchnyc-a8c05</string>
	<key>STORAGE_BUCKET</key>
	<string>copwatchnyc-a8c05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800525536623:ios:5cea5256e990d2b720ec9a</string>
</dict>
</plist>